In [1]:
import pandas as pd
import numpy as np

In [2]:
Aggregate_Expenditure =pd.read_csv(r'C:\Users\Neelansh sharma\Downloads\MASAI FINANCE PROJECT\DATA\Aggregate_Expenditure.csv',encoding='latin1')

# Aggregate_Expenditure

In [3]:
Aggregate_Expenditure.head()

,State,1980-81,1981-82,1982-83,1983-84,1984-85,1985-86,1986-87,1987-88,1988-89,...,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15 (RE),2015-16 (BE)
0,Andhra Pradesh,1610,1831,1933,2588,3119,3413,4068,4294,5223,...,56648,74875,80804,85075,100636,115882,129441,136629,111067,112049
1,Arunachal Pradesh,,,,,,,251,348,326,...,2786,3068,4273,5237,5579,6665,6354,7782,11483,12713
2,Assam,758,618,691,942,1165,1207,1586,1794,1855,...,13485,15150,17486,24968,25947,30269,33748,37178,64980,63602
3,Bihar,1791,1871,1940,2144,2408,2966,3360,3914,4324,...,27136,31573,37181,42796,50705,60180,69207,80405,132187,120685
4,Chhattisgarh,,,,,,,,,,...,11991,15029,17714,21559,23565,28721,34819,39442,55979,65811

In [4]:
Aggregate_Expenditure.replace(to_replace='',value=0,inplace=True)

In [5]:
col=['1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09',
       '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15 (RE)',
       '2015-16 (BE)']
for c in col:
    Aggregate_Expenditure[c]=pd.to_numeric(Aggregate_Expenditure[c])

In [6]:
Aggregate_Expenditure.to_csv('Aggregate_Expenditure.csv',index=False,header=False)

# Capital_Expenditure

In [7]:
Capital_Expenditure =pd.read_csv(r'C:\Users\Neelansh sharma\Downloads\MASAI FINANCE PROJECT\DATA\Capital_Expenditure.csv',encoding='latin1')

In [9]:
Capital_Expenditure.replace(to_replace='',value=0,inplace=True)

In [10]:
col=['1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09',
       '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15 (RE)',
       '2015-16 (BE)']
for c in col:
    Capital_Expenditure[c]=pd.to_numeric(Capital_Expenditure[c])

In [11]:
Capital_Expenditure.to_csv('Capital_Expenditure.csv',index=False,header=False)

# Gross_Fiscal_Deficits

In [13]:
Gross_Fiscal_Deficits =pd.read_csv(r'C:\Users\Neelansh sharma\Downloads\MASAI FINANCE PROJECT\DATA\Gross_Fiscal_Deficits.csv',encoding='latin1')

In [14]:
Gross_Fiscal_Deficits.replace(to_replace='',value=0,inplace=True)

In [15]:
col=['1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09',
       '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15 (RE)',
       '2015-16 (BE)']
for c in col:
    Gross_Fiscal_Deficits[c]=pd.to_numeric(Gross_Fiscal_Deficits[c])

In [17]:
Gross_Fiscal_Deficits.to_csv('Gross_Fiscal_Deficits.csv',index=False,header=False)

# Nominal_GSDP_Series

In [18]:
Nominal_GSDP_Series =pd.read_csv(r'C:\Users\Neelansh sharma\Downloads\MASAI FINANCE PROJECT\DATA\Nominal_GSDP_Series.csv',encoding='latin1')

In [19]:
Nominal_GSDP_Series.replace(to_replace='',value=0,inplace=True)

In [21]:
col=['1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09',
       '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15',
       '2015-16']
for c in col:
    Nominal_GSDP_Series[c]=pd.to_numeric(Nominal_GSDP_Series[c])

In [22]:
Nominal_GSDP_Series.to_csv('Nominal_GSDP_Series.csv',index=False,header=False)

# Own_Tax_Revenues

In [23]:
Own_Tax_Revenues =pd.read_csv(r'C:\Users\Neelansh sharma\Downloads\MASAI FINANCE PROJECT\DATA\Own_Tax_Revenues.csv',encoding='latin1')

In [24]:
Own_Tax_Revenues.replace(to_replace='',value=0,inplace=True)

In [25]:
col=['1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09',
       '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15',
       '2015-16']
for c in col:
    Own_Tax_Revenues[c]=pd.to_numeric(Own_Tax_Revenues[c])

In [26]:
Own_Tax_Revenues.to_csv('Own_Tax_Revenues.csv',index=False,header=False)

# Revenue_Deficits

In [34]:
Revenue_Deficits =pd.read_csv(r'C:\Users\Neelansh sharma\Downloads\MASAI FINANCE PROJECT\DATA\Revenue_Deficits.csv',encoding='latin1')

In [35]:
Revenue_Deficits.replace(to_replace='',value=0,inplace=True)

In [49]:
col=['1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09',
       '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15',
       '2015-16 (RE)']

In [50]:
for c in col:
    Revenue_Deficits[c]=pd.to_numeric(Revenue_Deficits[c],errors='coerce')

In [51]:

for c in col:
    Own_Tax_Revenues[c]=pd.to_numeric(Revenue_Deficits[c])

In [52]:
Revenue_Deficits.to_csv('Revenue_Deficits.csv',index=False,header=False)

# Revenue_Expenditure

In [37]:
Revenue_Expenditure =pd.read_csv(r'C:\Users\Neelansh sharma\Downloads\MASAI FINANCE PROJECT\DATA\Revenue_Expenditure.csv',encoding='latin1')

In [38]:
Revenue_Expenditure.replace(to_replace='',value=0,inplace=True)

In [39]:
col=['1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09',
       '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15 (RE)',
       '2015-16 (BE)']
for c in col:
    Revenue_Expenditure[c]=pd.to_numeric(Revenue_Expenditure[c])

In [40]:
Revenue_Expenditure.to_csv('Revenue_Expenditure.csv',index=False,header=False)

# Social_Sector_Expenditure

In [43]:
Social_Sector_Expenditure =pd.read_csv(r'C:\Users\Neelansh sharma\Downloads\MASAI FINANCE PROJECT\DATA\Social_Sector_Expenditure.csv',encoding='latin1')

In [44]:
Social_Sector_Expenditure.replace(to_replace='',value=0,inplace=True)

In [45]:
col=['1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03',
       '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09',
       '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15',
       '2015-16 (RE)']
for c in col:
    Social_Sector_Expenditure[c]=pd.to_numeric(Social_Sector_Expenditure[c])

In [46]:
Social_Sector_Expenditure.to_csv('Social_Sector_Expenditure.csv',index=False,header=False)